$white: #fff !default;
$black: #000 !default;

$body-bg: #F9F9F9;
$precious-green: #97F0B6 !default;
$precious-gray: #C9C9C9 !default;
$precious-red: #FF8595 !default;

$theme-colors: (
        "primary": $precious-green,
        "secondary": $black
);

$btn-border-radius: 3rem;
$input-btn-focus-color: $white;

@import "../node_modules/bootstrap/scss/bootstrap";

$shadow: 0 2px 4px 0 rgba($precious-gray, 0.3);
// $shadow: rgb(170, 170, 170) 2px 4px 16px 0px;

.navbar {
  box-shadow: $shadow;
  padding: 1rem 2rem;
}

label {
  @extend small;
  @extend .text-muted;
}

.card {
  @extend .card;
  box-shadow: $shadow;
}

.btn-outline {
  font-weight: bold;
  padding: 0.375rem 1rem;
  border-width: 2px;
}

.btn-outline-primary {
  @extend .btn-outline;
  @include button-outline-variant($precious-green, $white);
}

.btn-outline-primary.active {
  color: $white !important;
}

.btn-outline-secondary {
  @extend .btn-outline;
  @include button-outline-variant($black, $white);
}

.btn-outline-danger {
  @extend .btn-outline;
  @include button-outline-variant($precious-red, $white);
}

.btn-quantity .btn {
  padding: 0.375rem 0.65rem;
}

.btn-quantity .btn:nth-child(2) {
  opacity: 1;
  border-left: 0;
  border-right: 0;
}

$badge-type-size: 3em !default;

.badge-type {
  line-height: $badge-type-size;
  height: $badge-type-size;
  width: $badge-type-size;
  border-radius: $badge-type-size/2;

  text-align: center;

  color: $white;
  background-color: $precious-green;

}

.badge-type.simulation {
  background-color: $black;
}

.badge-type.disable {
  background-color: $precious-gray !important;
}

.pointer {
  cursor: pointer;
}

.sparklines-container {
  bottom: -9px;
}

@import "../node_modules/react-toggle/style.css";

$toggle-color: $precious-gray;
$toggle-checked-color: $black;

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $toggle-color;
}

.react-toggle--checked .react-toggle-track {
  background-color: $toggle-checked-color

}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $toggle-checked-color
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 0px 0px;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: 0px 0px 0px 0px;
}

$toggle-height: 40px;
$toggle-width: 70px;
$toggle-border-width: 2px;

.react-toggle-track {
  background-color: $toggle-color;
  width: $toggle-width;
  height: $toggle-height;
}

.react-toggle--checked .react-toggle-thumb {
  left: $toggle-width - $toggle-height + $toggle-border-width;
}

.react-toggle-thumb {
  top: $toggle-border-width;
  left: $toggle-border-width;
  border: 0px;
  width: $toggle-height - 2*($toggle-border-width);
  height: $toggle-height - 2*($toggle-border-width);
}