
.device-charts-container {
    width: 100%;
}

.pointer-chart {
    cursor: pointer;
}

.day-charts-container {
    /*width: 33.4%;*/
    /*display: inline-block;*/
}

.week-charts-container {
    width: 33.3%;
    display: inline-block;
}

.year-charts-container {
    width: 33.3%;
    display: inline-block;
}

.highcharts-handle {
    fill: transparent;
    stroke-width: 0;
}